{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="jumbotron">
        <h1 class="text-center">{{ front }}</h1>
    </div>
</div>

<div class="container">
    <div class="top-buffer">
        {% for project in projects %}
            <div class="col-md-4">
                <h3>{{ project }}</h3>
                <p>{{ project.text|truncatechars:200 }}</p>
                <p><a class="btn btn-primary btn-sm" href={{ project.github }}>Source Code</a></p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
